/**
 * Copyright {{year}} {{fullname}}
 */

#define CATCH_CONFIG_MAIN
#include <iostream>
#include "catch.hpp"


TEST_CASE( "Tests for {{name}}", "[{{name}}]" ) {
  SECTION ( "Testing {{name}}" ) {
  }
}

